

.card{
    background-color: #E7E7E7;
    height: 500px;
}


.ustensile, .appliance{

display: none;

}


.list-group{
    width: 50%;
}

.card-title{

    width: 100%;
    text-align: left;



}


.card-text{

    height: calc(50%);


    overflow: hidden;

    display: inline-block; /* for inline elements e.g. span, strong, em etc */
    text-overflow: ellipsis;

}
.list-group-item{

    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: #E7E7E7;
    padding:0;
    text-align: left;
}
.ingredient{
    font-weight: bold;

}

.card-group{

margin: 50px


}

