.card img{

    border-style: solid;
}
.card body{

    border-style: solid;


}
.card{
    border-style: solid;

}
.ustensile, .appliance{

display: none;

}


.list-group-item{
    border-style: solid;






}
.list-group{
    width: 50%;
    border-style: solid;


}

.card-title{

    width: 100%;
    text-align: left;
    border-style: solid;


}
.card-text{

    width: 50%;
    border-style: solid;


}