

.card{
    background-color: #E7E7E7;
    border-style: solid;
    border-color: black;
}


.ustensile, .appliance{

display: none;

}



.list-group{
    width: 50%;
}

.card-title{

    width: 100%;
    text-align: left;



}
.card-text{

    text-align: left;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    border-color: purple;



}
.list-group-item{

    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: #E7E7E7;
    padding:0;
    text-align: left;


}
.ingredient{
    font-weight: bold;

}
.col{

border-style: solid;
border-color: red;

}
.row{

    border-style: solid;
    border-color: blue;


}

.row-cols-3{

    border-style: solid;
    border-color: green;


}

